<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}IZUMI Store Code{% endblock %}</title>

        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style-reset.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
    </head>
    <body>
        <div class="container">

            {% include 'header_main.html.twig' %}

            {% block body %}{% endblock %}

        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
