<header class="header" id="header">
    <div class="wrap-menu">
        <ul id="navbar">
            <li>
                <a href="{{ path('homepage') }}">Main</a>
            </li>
            <li>
                <a href="{{ path('types_index_show_all') }}">Type</a>
                <ul>
                    <li>
                        <a href="{{ path('types_new') }}">New Type</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('storage_index_show_all') }}">Storage</a>
                <ul>
                    <li>
                        <a href="{{ path('storage_new') }}">New Storage</a>
                    </li>
                    <li>
                        <a href="{{ path('storage_rewrite_show_all') }}">Edit Storage</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>