{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrap">

        {% if submitted is defined %}
            <div class="submited">
                <p>{{ submitted }}</p>
            </div>
        {% endif %}

        <form method="{{ form.vars.method }}" name="{{ form.vars.full_name }}">

            <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />

            <div class="group">
                <div class="errors">
                    {{ form_errors(form.name) }}
                </div>
                <input type="text" id="{{ form.name.vars.id }}" name="{{ form.name.vars.full_name }}" value="{{ form.name.vars.value }}"
                       required="required"/>
                <label for="name">Name</label>
                <div class="bar"></div>
            </div>

            <button type="{{ form.submit.vars.name }}" class="button" id="{{ form.submit.vars.id }}"
                    name="{{ form.submit.vars.full_name }}" style="vertical-align:middle">
                <span>Sub </span>
            </button>

        </form>

    </div>
{% endblock %}