{% extends "base.html.twig" %}

{% block body %}

    <div class="wrap">

        <br>
        <br>
        <br>
        {#{{ dump(storages) }}#}
        <br>

        <div class="wrapper-storage">

            {% for storage in storages %}

                <div class="storage">
                    <a href="{{ storage_generator_url.getUrl(storage, storage.id) }}" class="storage-header">
                        {{ storage.storageInformation.title }}
                    </a>
                    <div class="storagecreate">
                        <span>{{ storage.createdDate }}</span>
                    </div>
                    <div class="data_item" style="    width: 80px; display: inline-block; margin-right: 13px;">
                        <a href="{{ storage_generator_url.getUpdateUrl(storage, storage.id) }}" class="button-custom but">Modify</a>
                    </div>
                    <div class="data_item" style="    width: 80px; display: inline-block;">
                        <a href="{{ storage_generator_url.getDeleteUrl(storage, storage.id) }}" class="button-custom but">Delete</a>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}