{% extends "base.html.twig" %}

{% block body %}

    <div class="wrap">

        <br>
        <br>
        <br>
        {#{{ dump(storages) }}#}
        <br>

        <div class="wrapper-storage">

            {% for storage in storages %}

                <div class="storage">
                    <a href="{{ storage_generator_url.getUrl(storage, storage.id) }}" class="storage-header">
                        {{ storage.storageInformation.title }}
                    </a>
                    <div class="storage-description">
                        {{ storage.storageInformation.description }}
                    </div>
                    <div class="storagecreate">
                        <span>{{ storage.createdDate }}</span>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}