{% extends "base.html.twig" %}

{% block body %}
    <br>
    <br>
    {{ dump(form_storage) }}
    <br>
    <br>
    <div class="wrap">
        <form method="{{ form_storage.vars.method }}" enctype="multipart/form-data">

            <input type="hidden" value="{{ form_storage.children._token.vars.value }}"
                   name="{{ form_storage.children._token.vars.full_name }}">

            <p>
                Creating new storage, nice man!
            </p>
            <br>
            <br>

            <table>
                <tr class="header-tr">
                    <th class="tr-type">OPTION</th>
                    <th class="tr-title">INPUTIK IN</th>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td class="tr-type">
                        Type there
                        <span class="required" style="color: red;">*</span>
                    </td>

                    {% if types is defined %}

                        <td class="tr-title">

                            <div>
                                {% if form_storage.children.type_id.vars.errors is not empty %}
                                    {% for error in type_form.children.type_id.vars.errors %}
                                        <br>
                                        <span class="required">{{ error.message }}</span>
                                    {% endfor %}
                                    <br>
                                    <br>
                                {% endif %}
                            </div>

                            <select name="{{ form_storage.children.type_id.vars.full_name }}">
                                {% for type in types %}
                                    <option value="{{ type.getID }}">{{ type.getName }}</option>
                                {% endfor %}
                            </select>
                        </td>

                    {% endif %}

                </tr>
            </table>
            <br>
            <br>
            <table>
                <tr>
                    <td class="tr-type">
                        Title there
                    </td>
                    <td class="tr-title">
                        <div class="data_item" style="width: 400px;">
                            <div style="color: yellow">
                                {% if form_storage.children.storageInformation.children.title.vars.errors is not empty %}
                                    {% for error in form_storage.children.storageInformation.children.title.vars.errors %}
                                        <br>
                                        <span class="required">{{ error.message }}</span>
                                    {% endfor %}
                                    <br>
                                    <br>
                                {% endif %}
                            </div>
                            <textarea class="iz-textarea " rows="10"
                                      name="{{ form_storage.children.storageInformation.children.title.vars.full_name }}"
                                      cols="45">{{ form_storage.children.storageInformation.children.title.vars.value }}</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td class="tr-type">
                        Set DESCRIPTION
                    </td>
                    <td class="tr-title">
                        <div class="data_item" style="width: 400px;">
                            <div style="color: yellow">
                                {% if form_storage.children.storageInformation.children.description.vars.errors is not empty %}
                                    {% for error in form_storage.children.storageInformation.children.description.vars.errors %}
                                        <br>
                                        <span class="required">{{ error.message }}</span>
                                    {% endfor %}
                                    <br>
                                    <br>
                                {% endif %}
                            </div>
                            <textarea class="iz-textarea w-990 h-200" rows="10"
                                      name="{{ form_storage.children.storageInformation.children.description.vars.full_name }}"
                                      cols="45">{{ form_storage.children.storageInformation.children.description.vars.value }}</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td class="tr-type">
                        SET
                        <br>
                        HTML
                        <br>
                        DESCRIPTION
                        <br>
                        (TAGS)
                        <br>
                    </td>
                    <td class="tr-title">
                        <div class="data_item" style="width: 400px;">
                            <textarea class="iz-textarea w-990 h-600" rows="10"
                                      name="{{ form_storage.children.storageInformation.children.html_description.vars.full_name }}"
                                      cols="45">{{ form_storage.children.storageInformation.children.html_description.vars.value }}</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <p>Add attachments (FILES - JS, PHP, CSS, HTML, SCSS)</p>
            <br>
            <br>
            <br>
            <table>
                <tr>
                    <td class="tr-type">
                        FILE there
                    </td>
                    <td class="tr-title padding-b-5" data-media="0">

                        {% for attach in form_storage.children.attachments.children %}

                            <div class="tr-title padding-b-5" style="width: 400px;" data-media-inpt="1">
                                <div style="color: yellow">
                                    {% if attach.children.file.vars.errors is not empty %}
                                        {% for error in attach.children.file.vars.errors %}
                                            <br>
                                            <span class="required">{{ error.message }}</span>
                                        {% endfor %}
                                        <br>
                                        <br>
                                    {% endif %}
                                </div>
                                <input class="iz-input w-700"
                                       data-file
                                       name="{{ attach.children.file.vars.full_name }}"
                                       value="{{ attach.children.file.vars.value }}"
                                       type="file"/>
                                <br>
                                <div style="color: yellow">
                                    {% if attach.children.attachment_description.vars.errors is not empty %}
                                        {% for error in attach.children.attachment_description.vars.errors %}
                                            <br>
                                            <span class="required">{{ error.message }}</span>
                                        {% endfor %}
                                        <br>
                                        <br>
                                    {% endif %}
                                </div>
                                <textarea class="iz-textarea w-990 h-200" style="margin-top: 3px;"
                                       name="{{ attach.children.attachment_description.vars.full_name }}">{{ attach.children.attachment_description.vars.value }}</textarea>
                                <br>
                                <br>
                                <br>

                            </div>

                        {% endfor %}



                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td class="tr-type">
                        ADD\DELETE
                        <br>
                        FILES
                    </td>
                    <td class="tr-title">
                        <div>
                            <span class="btn-add plus" id="addFile">
                                +
                            </span>
                            <span class="btn-add minus" id="deleteFile">
                                -
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Submit" class="button-custom but"
                   name="{{ form_storage.children.submit.vars.full_name }}">
            <br>
            <br>
            <br>
        </form>

    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/jQuery.js') }}"></script>
    <script src="{{ asset('js/storage-add-delete-files.js') }}"></script>

{% endblock %}