{% extends "base.html.twig" %}

{% block body %}

    <div class="wrap">

        {{ dump(form) }}

        <form action="" type="task" method="POST">

            <input type="text" name="task[description]">

            <input type="text" name="task[tag]">
            <input type="submit" value="Create"
                   class="btn btn-default pull-right" />
        </form>

    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/jQuery.js') }}"></script>
    <script src="{{ asset('js/storage-add-delete-files.js') }}"></script>

{% endblock %}