{% extends "base.html.twig" %}

{% block body %}

    <div class="wrap">

        <p>List of Types</p>
        <br>
        <div class="list_content">
            <div class="list_item">
                <div class="data_item" style="width: 20px;">
                    ID
                </div>
                <div class="data_item">
                    NAME
                </div>
                <div class="data_item">
                    DESCRIPTION
                </div>
                <div class="data_item">
                    CREATED
                </div>
                <div class="data_item">
                    MODIFIED
                </div>


                <div class="data_item" style="    width: 80px;">
                    DELETE
                </div>
                <div class="data_item" style="    width: 80px;">
                    MODIFY
                </div>


            </div>
        </div>
        <br>
        <br>

        {% for type in types %}

            <div class="list_content">
                <div class="list_item">
                    <div class="data_item" style="width: 20px;">
                        {{ type.getID }}
                    </div>
                    <div class="data_item">
                        {{ type.getName }}
                    </div>
                    <div class="data_item">
                        {{ type.getDescription }}
                    </div>
                    <div class="data_item">
                        {{ type.getCreated }}
                    </div>
                    <div class="data_item">
                        {{ type.getModified }}
                    </div>


                    <div class="data_item" style="    width: 80px;">
                        <a href="{{ type_helper.getDeleteURL(type) }}" class="button-custom but">Delete</a>
                    </div>
                    <div class="data_item" style="    width: 80px;">
                        <a href="{{ type_helper.getMofidiedURL(type) }}" class="button-custom but">Modify</a>
                    </div>


                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}