{% extends "base.html.twig" %}

{% block body %}

    <div class="wrap">

        <div class="list_content">
            <div class="list_item">
                <div class="data_item" style="width: 40px;">
                    ID
                </div>
                <div class="data_item">
                    NAME
                </div>
                <div class="data_item" style="width: 400px;">
                    DESCRIPTION
                </div>
                <div class="data_item">
                    CREATED
                </div>
                <div class="data_item">
                    MODIFIED
                </div>


            </div>
        </div>

        <form method="{{ form.vars.method }}" action="{{ form.vars.action }}">

            <input type="hidden" value="{{ form.children._token.vars.value }}" name="{{ form.children._token.vars.full_name }}">

            <div class="list_content">
                <div class="list_item">
                    <div class="data_item" style="width: 40px;">
                        {{ typeManager.getID }}
                    </div>
                    <div class="data_item">
                        <input
                                {% if form.vars.submitted == false %}
                                    value="{{ typeManager.getName }}"
                                {% else %}
                                    value="{{ form.children.name.vars.value }}"
                                {% endif %}
                                    name="{{ form.children.name.vars.full_name }}"
                                class="iz-input"
                        />
                        {% if form.children.name.vars.errors is not empty %}
                            {% for error in form.children.name.vars.errors %}
                                <span class="red">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="data_item" style="width: 400px;">
                        <textarea class="iz-textarea" rows="10" name="{{ form.children.description.vars.full_name }}"
                                  cols="45">{% if form.vars.submitted == false %}{{ typeManager.getDescription }}{% else %}{{ form.children.description.vars.value }}{% endif %}</textarea>
                        {% if form.children.description.vars.errors is not empty %}
                            {% for error in form.children.description.vars.errors %}
                                <span class="red">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="data_item" style="font-size: 12px;">
                        {{ typeManager.getCreated }}
                    </div>
                    <div class="data_item" style="font-size: 12px;">
                        {{ typeManager.getModified }}
                    </div>


                </div>
            </div>

            <br>

            <div class="data_item" style="
                                        width: 100%;
                                         border-top: #1c8c8c solid;
                                            margin-top: 5px;
                                            padding-top: 15px;">
                <button type="submit" name="{{ form.children.submit.vars.full_name}}" class="button-custom but">Chenge</button>
            </div>

        </form>

    </div>

{% endblock %}