{% extends "base.html.twig" %}

{% block body %}

    <div class="wrap">

        {% dump(type_form|raw) %}
        {% dump(type_form.children.name.vars.errors|raw) %}

        <form method="{{ type_form.vars.method }}"
              action="{{ type_form.vars.action }}">

            <input type="hidden"
                   name="{{ type_form.children._token.vars.full_name }}"
                   value="{{ type_form.children._token.vars.value }}">

            <ul class="form-style-1">
                <li>
                    <label>Name
                        <span class="required">*</span>
                        {% if type_form.children.name.vars.errors is not empty %}
                            {%for error in type_form.children.name.vars.errors%}
                                <br>
                                <span class="required">{{error.message}}</span>
                            {%endfor%}
                        {% endif %}
                    </label>
                    <input name="{{ type_form.children.name.vars.full_name }}"
                           value="{{ type_form.children.name.vars.value }}"
                           class="field-long"/>
                </li>
                <label>Description
                    <span class="required">*</span>
                    {% if type_form.children.description.vars.errors is not empty %}
                        {%for error in type_form.children.description.vars.errors%}
                            <br>
                            <span class="required">{{error.message}}</span>
                        {%endfor%}
                    {% endif %}
                </label>
                <textarea name="{{ type_form.children.description.vars.full_name }}"
                          class="field-long field-textarea">{{ type_form.children.description.vars.value }}</textarea>
                </li>
                <li>
                    <input type="submit" value="Submit"/>
                </li>
            </ul>
        </form>

    </div>

{% endblock %}