.container {
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 0 5px 0;
    background-color: #333!important;
    min-height: 100vh;
    color: #FFFFFF;
}
.wrap-menu{
    max-width: 1180px;
    margin: 0 auto;
}
body{
    background:#000;
}
body{
    height: 100vh;
    background-color: #000;
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,255,255, .25) 50px,rgba(0,255,255, .25) 100px), repeating-linear-gradient(90deg, rgba(0,255,255, .25), rgba(0,255,255, .25) 50px, transparent 50px, transparent 100px), repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), repeating-linear-gradient(transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px);
}
.wrap {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    z-index: 100;
    min-height: 50px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #333;
    -webkit-box-shadow: 0px 4px 5px 0px rgb(28, 140, 140);
    -moz-box-shadow: 0px 4px 5px 0px rgb(28, 140, 140);
    box-shadow: 0px 4px 5px 0px rgb(28, 140, 140);
}

#navbar ul{
    display: none;
    background-color: #24a9a9;
    position: absolute;
    top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar{
    padding-top: 10px;
    height: 30px;
    min-width: 470px;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
}
#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #155454; }
#navbar ul li:hover { background-color: #666; }

.bar {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    width: 300px;
    height: 3.6666666667px;
    transition: .3s ease;
    position: relative;
}
.bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: #1c8c8c;
    transform: translateX(-100%);
}

::selection {
    background: rgba(33, 150, 243, 0.3);
}

.form-style-1 {
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
    margin-bottom: 10px;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
    background-color: #1c8c8c;
    color: white;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
    background-color: #1c8c8c;
    color: white;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    cursor: pointer;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.list_content {

}
.list_content .list_item {
    margin-top: 20px;
}
.list_content .list_item:before {
    content: '●';
    color: #1c8c8c;
}
.list_content .list_item .data_item {
    display: inline-block;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
}
.list_content {
    vertical-align: top;
}

div{
    vertical-align: top;
}

.button-custom {
    background-color: #1c8c8c; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.but:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.iz-input {
    border:none;
    height: 20px;
    outline:none;
    padding-left: 5px;
    background-color: #1c8c8c;
    color: white;
}
.iz-textarea {
    font-family: 'Roboto', sans-serif;
    border:none;
    height: 100px;
    outline:none;
    padding-left: 5px;
    padding-top: 3px;
    background-color: #1c8c8c;
    color: white;
    resize: none;
}
.red {
    display: block;
    font-size: 12px;
    color: #edff00;
    margin-bottom: 5px;
    margin-top: 5px;
}

::selection {
    background: #333333; /* Safari */
}
::-moz-selection {
    background: #333333; /* Firefox */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #1d8a8a;
}

.header-tr {
    background-color: #2b8883;
}

.header-tr th {
    font-weight: bold;
}

.tr-type {
    width: 12px;
    max-width: 12px;
}

.tr-type select {
    background: #2b8883;
    width: 80px;
    color: white;
    cursor: pointer;
}

.tr-title {
    width: 200px;
    max-width: 200px;
}
.tr-title .iz-textarea {
    width: 500px;
}

td {
    vertical-align: middle;
}

.w-990 {
    width: 990px !important;
}

.w-700 {
    width: 400px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-600 {
    height: 600px !important;
}
.h-400 {
    height: 400px !important;
}
.h-300 {
    height: 300px !important;
}
.h-200 {
    height: 200px !important;
}

.btn-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.plus {
    background-color: #4CAF50;
}

.minus {
    background-color: #f44336
}

.padding-b-5 {
    padding-bottom: 5px;
}

.storage-header {
    display: block;
    padding: 6px;
    padding-left: 0;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    color: yellow
}

.storage {
    margin-bottom: 24px;
}

.storage-description {
    margin-bottom: 8px;
}

.storagecreate {
    text-align: right;
}